page-profile {
    .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: start;
    }
    .col-2 {
        flex-basis: 50%;
        min-width: 300px;
        padding: 20px;
    }
    .form-container {
        /*width: 450px;*/
        position: relative;
        padding: 20px 25px;
        background: #fff;
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    }
    .propheader {
        color:color($colors, button-red-color);
    }
}
